@import "tailwindcss";

/* Optional: Smooth scrolling for the whole page */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overscroll-behavior-x: none;
}

body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
  overscroll-behavior-x: none;
}
